@font-face {font-family:"KIA_Medium";src:url(../webfont/KIA_Medium.ttf) format('truetype');}
@font-face {font-family:"KIA_Bold";src:url(../webfont/KIA_Bold.ttf) format('truetype');}

.global-props {font-family: 'Open Sans', sans-serif;}
.same-p {font-size:16px;margin-bottom:2%;font-family: 'Open Sans', sans-serif;}
.bold {font-weight:bold;} .toggle-tap {background-color:#8b7c40;color:white;}

.tap {display:flex;flex-flow:row wrap;border-radius:50px;box-sizing:border-box;border:1px solid #8b7c40;margin:5% 0;}
.tap div {display:flex;align-items:center;justify-content:center;flex:1 1 0;font-size:16px;text-align:center;padding:2% 0;
  border-right:1px solid #8b7c40;cursor:pointer;box-sizing:border-box;font-family:'KIA_BOLD', sans-serif;}
.tap div:first-child {border-top-left-radius:47px;border-bottom-left-radius:47px;}
.tap div:last-child {border-top-right-radius:47px;border-bottom-right-radius:47px;}
.tap div:hover {background-color:#8b7c40;color:white;}
.tap div:last-child {border-right:none;}

.title-section {display:flex;justify-content:center;margin-bottom:4%;}
.title {width:100%;text-align:center;font-size:48px;line-height:normal;margin-bottom:2%;
  font-weight:bold;font-family:'KIA_MEDIUM', sans-serif;}
.line {width:115px;border-bottom:solid 2px #8b7c40;}

.explanation {position:relative;}
.register-btn-wrap {text-align:center;}
.register-btn {border-radius:50px;background-color:#d9ae45;color:#fff;margin:5% 0;
  font-weight:bold;line-height:1.5;font-size:18px;padding:2.5% 10%;border:none;font-family:'KIA_BOLD', sans-serif;}

.picture-inner-wrap img {width:100%;}
.info-section {padding:10% 0;}

.circle {position:relative;width:72%;height:0;padding-bottom:71%;border:1px solid #e4d3aa;margin:0 auto;border-radius:50%;}
.inner-circle {position:absolute;width:100%;height:100%;top:0;left:0;}
.icon-area {height:40%;display:flex;align-items:center;justify-content:center;}

.inner-span img {width:100%;}
.info-area {font-size:16px;line-height:1.5;color:#222;text-align:center;}

.agenda {text-align:center;}
.agenda-intro-content {width:70%;margin:0 auto;}
.same-agenda-font {font-size:16px;}
.agenda-button {margin:4% 0;font-family:'KIA_BOLD', sans-serif;}

.time-table-section {display:flex;flex-flow:row wrap;justify-content:center;align-items:center;overflow:hidden;}
.vertical-line {width:0;height:100%;}
.time-table-time {flex:1 1 0;padding-right:3%;border-right:1px solid #8b7c40;text-align:right;}
.time-table-event {flex:1 1 0;padding-left:3%;text-align:left;}
.same-div {margin:0;}
.same-div:nth-child(-n+5) {padding-bottom:3%;margin:0;}

.reg {margin-left:8%;margin-right:8%;}
.name {margin-bottom:3%;}
.same-input-1 {border:none;border-bottom:1px solid #b7b7b7;width:100%;font-size:16px;padding:5% 0;}
.same-input-1:focus {outline:none;}
.same-input-2 {padding:3.33% 0;}
.same-label {padding:7% 0 2% 0;margin-right:10px;font-family:'KIA_BOLD', sans-serif;font-weight:600;letter-spacing:0.5;}
.download-btn {border:1px solid #8b7c40;background-color:white;color:#8b7c40;border-radius:10px;margin-top:5px;font-size:14px;
  padding:8px 20px;}

.submit-btn-wrapper {text-align:center;}
.same-style-btn {width:170px;min-height:15px;border-radius:50px;font-family:'KIA_BOLD', sans-serif;
  background-color:#8b7c40;color:#fff;border:none;box-sizing:content-box;padding:15px 20px;}
.submit-btn {margin:5% 0 10% 0;}
.get-direction-btn {background-color:#8b7c40;}
@media all and (max-width:1199px) { .info-area {font-size:14px;} .same-p {font-size:14px;} }
@media all and (max-width:991px) { .circle {width:92%;padding-bottom:91%;} }
@media all and (max-width:767px) {
  .title-section {margin-bottom:8%;padding:0 15px;}
  .title {margin-bottom:5%;font-size:34px;}

  .column.col-md-4:first-child {order:3}
  .column.col-md-4:nth-child(2) {order:2}
  .column.col-md-4:last-child {order:1}

  .tap {margin-bottom:10%;border-radius:20px;}
  .tap div {width:50%;flex:0 1 auto;height:60px;}
  .tap div:first-child {border-top-left-radius:17px;border-bottom-left-radius:0;}
  .tap div:nth-child(2) {border-top-right-radius:17px;border-right:none;}
  .tap div:nth-child(3) {border-bottom-left-radius:17px;}
  .tap div:last-child {border-bottom-right-radius:17px;border-top-right-radius:0;border-right:none;}
  .tap div:nth-child(-n+2) {border-bottom:1px solid #8b7c40;}

  .circle {margin-top:5%;margin-bottom:5%;width:70%;padding-bottom:70%;}
  .same-p {font-size:16px;}
  .explanation-p {margin-bottom:4%;}
  .exception-p {margin:0;}
  .info-area {font-size:20px;}
  .inner-span {margin-top:15px;}
  .same-div:nth-child(-n+5) {height:50px;padding-bottom:0;}
  .submit-btn {margin:10% 0 20% 0;}
  .register-btn {margin:10% 0;}
  .agenda-button {margin:8% 0;}

  .reg {margin-left:0%;margin-right:0%;}
  .same-input-2 {padding:5% 0;}
  .agenda-intro-content {width:100%;}
}
@media all and (max-width:449px) {
  .tap div {font-size:14px;}

  .same-p {font-size:14px;}
  .same-p.same-div {font-size:12px;}
  .same-agenda-font {font-size:14px;}
  .inner-span {font-size:35px;}
  .info-area {font-size:14px;}
}
